@import 'tailwindcss';

/* @layer components {
  .btn {
    @apply inline-flex items-center gap-2 rounded-xl border border-transparent
           px-4 py-2 text-sm font-medium transition
           bg-neutral-900 text-white hover:border-indigo-500
           focus:outline-none focus:ring-2 focus:ring-indigo-500;
  }
  .link {
    @apply font-medium text-indigo-500 hover:text-indigo-400;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
